sep/src/conf/xml-resources/web-service-references/GestionEvaluacion/wsdl/localhost_8080/EVAServices/GestionEvaluacion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://evaservices.seguroshorizonte.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://evaservices.seguroshorizonte.com/" name="GestionEvaluacion">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/EVAServices/GestionEvaluacion?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://evaservices.seguroshorizonte.com/" schemaLocation="http://localhost:8080/EVAServices/GestionEvaluacion?xsd=2"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="reporteInformacionEvaluacion">
<part name="parameters" element="tns:reporteInformacionEvaluacion"/>
</message>
<message name="reporteInformacionEvaluacionResponse">
<part name="parameters" element="tns:reporteInformacionEvaluacionResponse"/>
</message>
<message name="reporteHistoricoEmpleados">
<part name="parameters" element="tns:reporteHistoricoEmpleados"/>
</message>
<message name="reporteHistoricoEmpleadosResponse">
<part name="parameters" element="tns:reporteHistoricoEmpleadosResponse"/>
</message>
<message name="reporteEmpleadosnoGerentes">
<part name="parameters" element="tns:reporteEmpleadosnoGerentes"/>
</message>
<message name="reporteEmpleadosnoGerentesResponse">
<part name="parameters" element="tns:reporteEmpleadosnoGerentesResponse"/>
</message>
<message name="empleadosEliminados">
<part name="parameters" element="tns:empleadosEliminados"/>
</message>
<message name="empleadosEliminadosResponse">
<part name="parameters" element="tns:empleadosEliminadosResponse"/>
</message>
<message name="reingresarEmpleado">
<part name="parameters" element="tns:reingresarEmpleado"/>
</message>
<message name="reingresarEmpleadoResponse">
<part name="parameters" element="tns:reingresarEmpleadoResponse"/>
</message>
<message name="retornaformatofactores">
<part name="parameters" element="tns:retornaformatofactores"/>
</message>
<message name="retornaformatofactoresResponse">
<part name="parameters" element="tns:retornaformatofactoresResponse"/>
</message>
<message name="crearformatofactor">
<part name="parameters" element="tns:crearformatofactor"/>
</message>
<message name="crearformatofactorResponse">
<part name="parameters" element="tns:crearformatofactorResponse"/>
</message>
<message name="editarformatofactor">
<part name="parameters" element="tns:editarformatofactor"/>
</message>
<message name="editarformatofactorResponse">
<part name="parameters" element="tns:editarformatofactorResponse"/>
</message>
<message name="eliminarformatofactor">
<part name="parameters" element="tns:eliminarformatofactor"/>
</message>
<message name="eliminarformatofactorResponse">
<part name="parameters" element="tns:eliminarformatofactorResponse"/>
</message>
<message name="retornaEmpleado">
<part name="parameters" element="tns:retornaEmpleado"/>
</message>
<message name="retornaEmpleadoResponse">
<part name="parameters" element="tns:retornaEmpleadoResponse"/>
</message>
<message name="getEvaluacionesAbiertas">
<part name="parameters" element="tns:getEvaluacionesAbiertas"/>
</message>
<message name="getEvaluacionesAbiertasResponse">
<part name="parameters" element="tns:getEvaluacionesAbiertasResponse"/>
</message>
<message name="retornaTiposEvaluacion">
<part name="parameters" element="tns:retornaTiposEvaluacion"/>
</message>
<message name="retornaTiposEvaluacionResponse">
<part name="parameters" element="tns:retornaTiposEvaluacionResponse"/>
</message>
<message name="isSeleccionado">
<part name="parameters" element="tns:isSeleccionado"/>
</message>
<message name="isSeleccionadoResponse">
<part name="parameters" element="tns:isSeleccionadoResponse"/>
</message>
<message name="retornaDependencias">
<part name="parameters" element="tns:retornaDependencias"/>
</message>
<message name="retornaDependenciasResponse">
<part name="parameters" element="tns:retornaDependenciasResponse"/>
</message>
<message name="agregarDependencia">
<part name="parameters" element="tns:agregarDependencia"/>
</message>
<message name="agregarDependenciaResponse">
<part name="parameters" element="tns:agregarDependenciaResponse"/>
</message>
<message name="eliminarDependencia">
<part name="parameters" element="tns:eliminarDependencia"/>
</message>
<message name="eliminarDependenciaResponse">
<part name="parameters" element="tns:eliminarDependenciaResponse"/>
</message>
<message name="editarDependencia">
<part name="parameters" element="tns:editarDependencia"/>
</message>
<message name="editarDependenciaResponse">
<part name="parameters" element="tns:editarDependenciaResponse"/>
</message>
<message name="retornaEmpleadosd">
<part name="parameters" element="tns:retornaEmpleadosd"/>
</message>
<message name="retornaEmpleadosdResponse">
<part name="parameters" element="tns:retornaEmpleadosdResponse"/>
</message>
<message name="retornaPresentaciones">
<part name="parameters" element="tns:retornaPresentaciones"/>
</message>
<message name="retornaPresentacionesResponse">
<part name="parameters" element="tns:retornaPresentacionesResponse"/>
</message>
<message name="eliminarPresentacion">
<part name="parameters" element="tns:eliminarPresentacion"/>
</message>
<message name="eliminarPresentacionResponse">
<part name="parameters" element="tns:eliminarPresentacionResponse"/>
</message>
<message name="editarPresentacion">
<part name="parameters" element="tns:editarPresentacion"/>
</message>
<message name="editarPresentacionResponse">
<part name="parameters" element="tns:editarPresentacionResponse"/>
</message>
<message name="crearPresentacion">
<part name="parameters" element="tns:crearPresentacion"/>
</message>
<message name="crearPresentacionResponse">
<part name="parameters" element="tns:crearPresentacionResponse"/>
</message>
<message name="retornaPlanteamientos">
<part name="parameters" element="tns:retornaPlanteamientos"/>
</message>
<message name="retornaPlanteamientosResponse">
<part name="parameters" element="tns:retornaPlanteamientosResponse"/>
</message>
<message name="reporteEmpleadosno">
<part name="parameters" element="tns:reporteEmpleadosno"/>
</message>
<message name="reporteEmpleadosnoResponse">
<part name="parameters" element="tns:reporteEmpleadosnoResponse"/>
</message>
<message name="eliminarSupervisor">
<part name="parameters" element="tns:eliminarSupervisor"/>
</message>
<message name="eliminarSupervisorResponse">
<part name="parameters" element="tns:eliminarSupervisorResponse"/>
</message>
<message name="retornaSupervisor">
<part name="parameters" element="tns:retornaSupervisor"/>
</message>
<message name="retornaSupervisorResponse">
<part name="parameters" element="tns:retornaSupervisorResponse"/>
</message>
<message name="editarEmpleado">
<part name="parameters" element="tns:editarEmpleado"/>
</message>
<message name="editarEmpleadoResponse">
<part name="parameters" element="tns:editarEmpleadoResponse"/>
</message>
<message name="creaestadoSupervisor">
<part name="parameters" element="tns:creaestadoSupervisor"/>
</message>
<message name="creaestadoSupervisorResponse">
<part name="parameters" element="tns:creaestadoSupervisorResponse"/>
</message>
<message name="comprobarCorreo">
<part name="parameters" element="tns:comprobarCorreo"/>
</message>
<message name="comprobarCorreoResponse">
<part name="parameters" element="tns:comprobarCorreoResponse"/>
</message>
<message name="puntajeEmpleado">
<part name="parameters" element="tns:puntajeEmpleado"/>
</message>
<message name="puntajeEmpleadoResponse">
<part name="parameters" element="tns:puntajeEmpleadoResponse"/>
</message>
<message name="deduccionesEmpleado">
<part name="parameters" element="tns:deduccionesEmpleado"/>
</message>
<message name="deduccionesEmpleadoResponse">
<part name="parameters" element="tns:deduccionesEmpleadoResponse"/>
</message>
<message name="actualizarSeleccionado">
<part name="parameters" element="tns:actualizarSeleccionado"/>
</message>
<message name="actualizarSeleccionadoResponse">
<part name="parameters" element="tns:actualizarSeleccionadoResponse"/>
</message>
<message name="actualizarCorte">
<part name="parameters" element="tns:actualizarCorte"/>
</message>
<message name="actualizarCorteResponse">
<part name="parameters" element="tns:actualizarCorteResponse"/>
</message>
<message name="procesarCanje">
<part name="parameters" element="tns:procesarCanje"/>
</message>
<message name="procesarCanjeResponse">
<part name="parameters" element="tns:procesarCanjeResponse"/>
</message>
<message name="retornaultimoCanje">
<part name="parameters" element="tns:retornaultimoCanje"/>
</message>
<message name="retornaultimoCanjeResponse">
<part name="parameters" element="tns:retornaultimoCanjeResponse"/>
</message>
<message name="retornatodosCanjes">
<part name="parameters" element="tns:retornatodosCanjes"/>
</message>
<message name="retornatodosCanjesResponse">
<part name="parameters" element="tns:retornatodosCanjesResponse"/>
</message>
<message name="getEvaluacionesSuper">
<part name="parameters" element="tns:getEvaluacionesSuper"/>
</message>
<message name="getEvaluacionesSuperResponse">
<part name="parameters" element="tns:getEvaluacionesSuperResponse"/>
</message>
<message name="getEmpleadosEvaluacion">
<part name="parameters" element="tns:getEmpleadosEvaluacion"/>
</message>
<message name="getEmpleadosEvaluacionResponse">
<part name="parameters" element="tns:getEmpleadosEvaluacionResponse"/>
</message>
<message name="retornaFormatos">
<part name="parameters" element="tns:retornaFormatos"/>
</message>
<message name="retornaFormatosResponse">
<part name="parameters" element="tns:retornaFormatosResponse"/>
</message>
<message name="editarformatoEvaluacion">
<part name="parameters" element="tns:editarformatoEvaluacion"/>
</message>
<message name="editarformatoEvaluacionResponse">
<part name="parameters" element="tns:editarformatoEvaluacionResponse"/>
</message>
<message name="crearformatoEvaluacion">
<part name="parameters" element="tns:crearformatoEvaluacion"/>
</message>
<message name="crearformatoEvaluacionResponse">
<part name="parameters" element="tns:crearformatoEvaluacionResponse"/>
</message>
<message name="eliminarformatoEvaluacion">
<part name="parameters" element="tns:eliminarformatoEvaluacion"/>
</message>
<message name="eliminarformatoEvaluacionResponse">
<part name="parameters" element="tns:eliminarformatoEvaluacionResponse"/>
</message>
<message name="retornaEvaluaciones">
<part name="parameters" element="tns:retornaEvaluaciones"/>
</message>
<message name="retornaEvaluacionesResponse">
<part name="parameters" element="tns:retornaEvaluacionesResponse"/>
</message>
<message name="getEmpleadosEvaluaciong">
<part name="parameters" element="tns:getEmpleadosEvaluaciong"/>
</message>
<message name="getEmpleadosEvaluaciongResponse">
<part name="parameters" element="tns:getEmpleadosEvaluaciongResponse"/>
</message>
<message name="cambiarDependencia">
<part name="parameters" element="tns:cambiarDependencia"/>
</message>
<message name="cambiarDependenciaResponse">
<part name="parameters" element="tns:cambiarDependenciaResponse"/>
</message>
<message name="retornaCargos">
<part name="parameters" element="tns:retornaCargos"/>
</message>
<message name="retornaCargosResponse">
<part name="parameters" element="tns:retornaCargosResponse"/>
</message>
<message name="retornaFactores">
<part name="parameters" element="tns:retornaFactores"/>
</message>
<message name="retornaFactoresResponse">
<part name="parameters" element="tns:retornaFactoresResponse"/>
</message>
<message name="eliminarFactor">
<part name="parameters" element="tns:eliminarFactor"/>
</message>
<message name="eliminarFactorResponse">
<part name="parameters" element="tns:eliminarFactorResponse"/>
</message>
<message name="retornaCorteSeleccionado">
<part name="parameters" element="tns:retornaCorteSeleccionado"/>
</message>
<message name="retornaCorteSeleccionadoResponse">
<part name="parameters" element="tns:retornaCorteSeleccionadoResponse"/>
</message>
<message name="retornaPresentacionesformatos">
<part name="parameters" element="tns:retornaPresentacionesformatos"/>
</message>
<message name="retornaPresentacionesformatosResponse">
<part name="parameters" element="tns:retornaPresentacionesformatosResponse"/>
</message>
<message name="crearformatoevalplanteamiento">
<part name="parameters" element="tns:crearformatoevalplanteamiento"/>
</message>
<message name="crearformatoevalplanteamientoResponse">
<part name="parameters" element="tns:crearformatoevalplanteamientoResponse"/>
</message>
<message name="retornaEmpleadosSeleccionados">
<part name="parameters" element="tns:retornaEmpleadosSeleccionados"/>
</message>
<message name="retornaEmpleadosSeleccionadosResponse">
<part name="parameters" element="tns:retornaEmpleadosSeleccionadosResponse"/>
</message>
<message name="retornaEmpleadosGrupodependencias">
<part name="parameters" element="tns:retornaEmpleadosGrupodependencias"/>
</message>
<message name="retornaEmpleadosGrupodependenciasResponse">
<part name="parameters" element="tns:retornaEmpleadosGrupodependenciasResponse"/>
</message>
<message name="registrarEvaluacionVacaciones">
<part name="parameters" element="tns:registrarEvaluacionVacaciones"/>
</message>
<message name="registrarEvaluacionVacacionesResponse">
<part name="parameters" element="tns:registrarEvaluacionVacacionesResponse"/>
</message>
<message name="puntosEvaluacionAcumulados">
<part name="parameters" element="tns:puntosEvaluacionAcumulados"/>
</message>
<message name="puntosEvaluacionAcumuladosResponse">
<part name="parameters" element="tns:puntosEvaluacionAcumuladosResponse"/>
</message>
<message name="puntosEvaluacionPromedios">
<part name="parameters" element="tns:puntosEvaluacionPromedios"/>
</message>
<message name="puntosEvaluacionPromediosResponse">
<part name="parameters" element="tns:puntosEvaluacionPromediosResponse"/>
</message>
<message name="puntosEvaluacionCantidad">
<part name="parameters" element="tns:puntosEvaluacionCantidad"/>
</message>
<message name="puntosEvaluacionCantidadResponse">
<part name="parameters" element="tns:puntosEvaluacionCantidadResponse"/>
</message>
<message name="pEAEmpleadosP">
<part name="parameters" element="tns:pEAEmpleadosP"/>
</message>
<message name="pEAEmpleadosPResponse">
<part name="parameters" element="tns:pEAEmpleadosPResponse"/>
</message>
<message name="retornaPeriodos">
<part name="parameters" element="tns:retornaPeriodos"/>
</message>
<message name="retornaPeriodosResponse">
<part name="parameters" element="tns:retornaPeriodosResponse"/>
</message>
<message name="seleccionarEmpleados">
<part name="parameters" element="tns:seleccionarEmpleados"/>
</message>
<message name="seleccionarEmpleadosResponse">
<part name="parameters" element="tns:seleccionarEmpleadosResponse"/>
</message>
<message name="datosEvaluaciones">
<part name="parameters" element="tns:datosEvaluaciones"/>
</message>
<message name="datosEvaluacionesResponse">
<part name="parameters" element="tns:datosEvaluacionesResponse"/>
</message>
<message name="agregarUsuario">
<part name="parameters" element="tns:agregarUsuario"/>
</message>
<message name="agregarUsuarioResponse">
<part name="parameters" element="tns:agregarUsuarioResponse"/>
</message>
<message name="agregarEmpleado">
<part name="parameters" element="tns:agregarEmpleado"/>
</message>
<message name="agregarEmpleadoResponse">
<part name="parameters" element="tns:agregarEmpleadoResponse"/>
</message>
<message name="agregarEstadoEmpleado">
<part name="parameters" element="tns:agregarEstadoEmpleado"/>
</message>
<message name="agregarEstadoEmpleadoResponse">
<part name="parameters" element="tns:agregarEstadoEmpleadoResponse"/>
</message>
<message name="registrarEvaluacionReposo">
<part name="parameters" element="tns:registrarEvaluacionReposo"/>
</message>
<message name="registrarEvaluacionReposoResponse">
<part name="parameters" element="tns:registrarEvaluacionReposoResponse"/>
</message>
<message name="retornaTipoEvaluacion">
<part name="parameters" element="tns:retornaTipoEvaluacion"/>
</message>
<message name="retornaTipoEvaluacionResponse">
<part name="parameters" element="tns:retornaTipoEvaluacionResponse"/>
</message>
<message name="eliminarEmpleadoEvaluacion">
<part name="parameters" element="tns:eliminarEmpleadoEvaluacion"/>
</message>
<message name="eliminarEmpleadoEvaluacionResponse">
<part name="parameters" element="tns:eliminarEmpleadoEvaluacionResponse"/>
</message>
<message name="eliminarEmpleadoRevision">
<part name="parameters" element="tns:eliminarEmpleadoRevision"/>
</message>
<message name="eliminarEmpleadoRevisionResponse">
<part name="parameters" element="tns:eliminarEmpleadoRevisionResponse"/>
</message>
<message name="actualizarPlanteamientoEval">
<part name="parameters" element="tns:actualizarPlanteamientoEval"/>
</message>
<message name="actualizarPlanteamientoEvalResponse">
<part name="parameters" element="tns:actualizarPlanteamientoEvalResponse"/>
</message>
<message name="eliminarPlanteamiento">
<part name="parameters" element="tns:eliminarPlanteamiento"/>
</message>
<message name="eliminarPlanteamientoResponse">
<part name="parameters" element="tns:eliminarPlanteamientoResponse"/>
</message>
<message name="RetornaEvaluacionesReporte">
<part name="parameters" element="tns:RetornaEvaluacionesReporte"/>
</message>
<message name="RetornaEvaluacionesReporteResponse">
<part name="parameters" element="tns:RetornaEvaluacionesReporteResponse"/>
</message>
<message name="RetornaDependenciasNivel">
<part name="parameters" element="tns:RetornaDependenciasNivel"/>
</message>
<message name="RetornaDependenciasNivelResponse">
<part name="parameters" element="tns:RetornaDependenciasNivelResponse"/>
</message>
<message name="registrarEvaluacion">
<part name="parameters" element="tns:registrarEvaluacion"/>
</message>
<message name="registrarEvaluacionResponse">
<part name="parameters" element="tns:registrarEvaluacionResponse"/>
</message>
<message name="getFormatoEvaluacion">
<part name="parameters" element="tns:getFormatoEvaluacion"/>
</message>
<message name="getFormatoEvaluacionResponse">
<part name="parameters" element="tns:getFormatoEvaluacionResponse"/>
</message>
<message name="eliminarCargo">
<part name="parameters" element="tns:eliminarCargo"/>
</message>
<message name="eliminarCargoResponse">
<part name="parameters" element="tns:eliminarCargoResponse"/>
</message>
<message name="eliminarEmpleado">
<part name="parameters" element="tns:eliminarEmpleado"/>
</message>
<message name="eliminarEmpleadoResponse">
<part name="parameters" element="tns:eliminarEmpleadoResponse"/>
</message>
<message name="eliminarUsuario">
<part name="parameters" element="tns:eliminarUsuario"/>
</message>
<message name="eliminarUsuarioResponse">
<part name="parameters" element="tns:eliminarUsuarioResponse"/>
</message>
<message name="actualizaSupervisor">
<part name="parameters" element="tns:actualizaSupervisor"/>
</message>
<message name="actualizaSupervisorResponse">
<part name="parameters" element="tns:actualizaSupervisorResponse"/>
</message>
<message name="consultarDependencia">
<part name="parameters" element="tns:consultarDependencia"/>
</message>
<message name="consultarDependenciaResponse">
<part name="parameters" element="tns:consultarDependenciaResponse"/>
</message>
<message name="crearEvaluacion">
<part name="parameters" element="tns:crearEvaluacion"/>
</message>
<message name="crearEvaluacionResponse">
<part name="parameters" element="tns:crearEvaluacionResponse"/>
</message>
<message name="editarEvaluacion">
<part name="parameters" element="tns:editarEvaluacion"/>
</message>
<message name="editarEvaluacionResponse">
<part name="parameters" element="tns:editarEvaluacionResponse"/>
</message>
<message name="eliminarEvaluacion">
<part name="parameters" element="tns:eliminarEvaluacion"/>
</message>
<message name="eliminarEvaluacionResponse">
<part name="parameters" element="tns:eliminarEvaluacionResponse"/>
</message>
<message name="crearPlanteamiento">
<part name="parameters" element="tns:crearPlanteamiento"/>
</message>
<message name="crearPlanteamientoResponse">
<part name="parameters" element="tns:crearPlanteamientoResponse"/>
</message>
<message name="editarPlanteamiento">
<part name="parameters" element="tns:editarPlanteamiento"/>
</message>
<message name="editarPlanteamientoResponse">
<part name="parameters" element="tns:editarPlanteamientoResponse"/>
</message>
<message name="EvaluacionFecha">
<part name="parameters" element="tns:EvaluacionFecha"/>
</message>
<message name="EvaluacionFechaResponse">
<part name="parameters" element="tns:EvaluacionFechaResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="editarPeriodo">
<part name="parameters" element="tns:editarPeriodo"/>
</message>
<message name="editarPeriodoResponse">
<part name="parameters" element="tns:editarPeriodoResponse"/>
</message>
<message name="eliminarPeriodo">
<part name="parameters" element="tns:eliminarPeriodo"/>
</message>
<message name="eliminarPeriodoResponse">
<part name="parameters" element="tns:eliminarPeriodoResponse"/>
</message>
<message name="planteamientosS">
<part name="parameters" element="tns:planteamientosS"/>
</message>
<message name="planteamientosSResponse">
<part name="parameters" element="tns:planteamientosSResponse"/>
</message>
<message name="eliminaEvaluacionEmpleado">
<part name="parameters" element="tns:eliminaEvaluacionEmpleado"/>
</message>
<message name="eliminaEvaluacionEmpleadoResponse">
<part name="parameters" element="tns:eliminaEvaluacionEmpleadoResponse"/>
</message>
<message name="retornaEvaluacionesEmpleado">
<part name="parameters" element="tns:retornaEvaluacionesEmpleado"/>
</message>
<message name="retornaEvaluacionesEmpleadoResponse">
<part name="parameters" element="tns:retornaEvaluacionesEmpleadoResponse"/>
</message>
<message name="isGerente">
<part name="parameters" element="tns:isGerente"/>
</message>
<message name="isGerenteResponse">
<part name="parameters" element="tns:isGerenteResponse"/>
</message>
<message name="isSupervisor">
<part name="parameters" element="tns:isSupervisor"/>
</message>
<message name="isSupervisorResponse">
<part name="parameters" element="tns:isSupervisorResponse"/>
</message>
<message name="isRecursos">
<part name="parameters" element="tns:isRecursos"/>
</message>
<message name="isRecursosResponse">
<part name="parameters" element="tns:isRecursosResponse"/>
</message>
<message name="crearFactor">
<part name="parameters" element="tns:crearFactor"/>
</message>
<message name="crearFactorResponse">
<part name="parameters" element="tns:crearFactorResponse"/>
</message>
<message name="editarFactor">
<part name="parameters" element="tns:editarFactor"/>
</message>
<message name="editarFactorResponse">
<part name="parameters" element="tns:editarFactorResponse"/>
</message>
<message name="editarCanje">
<part name="parameters" element="tns:editarCanje"/>
</message>
<message name="editarCanjeResponse">
<part name="parameters" element="tns:editarCanjeResponse"/>
</message>
<message name="pEAEmpleados">
<part name="parameters" element="tns:pEAEmpleados"/>
</message>
<message name="pEAEmpleadosResponse">
<part name="parameters" element="tns:pEAEmpleadosResponse"/>
</message>
<message name="pEPE">
<part name="parameters" element="tns:pEPE"/>
</message>
<message name="pEPEResponse">
<part name="parameters" element="tns:pEPEResponse"/>
</message>
<message name="editarCorte">
<part name="parameters" element="tns:editarCorte"/>
</message>
<message name="editarCorteResponse">
<part name="parameters" element="tns:editarCorteResponse"/>
</message>
<message name="crearCorte">
<part name="parameters" element="tns:crearCorte"/>
</message>
<message name="crearCorteResponse">
<part name="parameters" element="tns:crearCorteResponse"/>
</message>
<message name="retornaCorte">
<part name="parameters" element="tns:retornaCorte"/>
</message>
<message name="retornaCorteResponse">
<part name="parameters" element="tns:retornaCorteResponse"/>
</message>
<message name="corteMaximo">
<part name="parameters" element="tns:corteMaximo"/>
</message>
<message name="corteMaximoResponse">
<part name="parameters" element="tns:corteMaximoResponse"/>
</message>
<message name="loginDatos">
<part name="parameters" element="tns:loginDatos"/>
</message>
<message name="loginDatosResponse">
<part name="parameters" element="tns:loginDatosResponse"/>
</message>
<message name="agregarCargo">
<part name="parameters" element="tns:agregarCargo"/>
</message>
<message name="agregarCargoResponse">
<part name="parameters" element="tns:agregarCargoResponse"/>
</message>
<message name="editarCargo">
<part name="parameters" element="tns:editarCargo"/>
</message>
<message name="editarCargoResponse">
<part name="parameters" element="tns:editarCargoResponse"/>
</message>
<message name="crearPeriodo">
<part name="parameters" element="tns:crearPeriodo"/>
</message>
<message name="crearPeriodoResponse">
<part name="parameters" element="tns:crearPeriodoResponse"/>
</message>
<portType name="GestionEvaluacion">
<operation name="login">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/loginRequest" message="tns:login"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="reporteInformacionEvaluacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/reporteInformacionEvaluacionRequest" message="tns:reporteInformacionEvaluacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/reporteInformacionEvaluacionResponse" message="tns:reporteInformacionEvaluacionResponse"/>
</operation>
<operation name="reporteHistoricoEmpleados">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/reporteHistoricoEmpleadosRequest" message="tns:reporteHistoricoEmpleados"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/reporteHistoricoEmpleadosResponse" message="tns:reporteHistoricoEmpleadosResponse"/>
</operation>
<operation name="reporteEmpleadosnoGerentes">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/reporteEmpleadosnoGerentesRequest" message="tns:reporteEmpleadosnoGerentes"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/reporteEmpleadosnoGerentesResponse" message="tns:reporteEmpleadosnoGerentesResponse"/>
</operation>
<operation name="empleadosEliminados">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/empleadosEliminadosRequest" message="tns:empleadosEliminados"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/empleadosEliminadosResponse" message="tns:empleadosEliminadosResponse"/>
</operation>
<operation name="reingresarEmpleado">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/reingresarEmpleadoRequest" message="tns:reingresarEmpleado"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/reingresarEmpleadoResponse" message="tns:reingresarEmpleadoResponse"/>
</operation>
<operation name="retornaformatofactores">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaformatofactoresRequest" message="tns:retornaformatofactores"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaformatofactoresResponse" message="tns:retornaformatofactoresResponse"/>
</operation>
<operation name="crearformatofactor">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearformatofactorRequest" message="tns:crearformatofactor"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearformatofactorResponse" message="tns:crearformatofactorResponse"/>
</operation>
<operation name="editarformatofactor">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarformatofactorRequest" message="tns:editarformatofactor"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarformatofactorResponse" message="tns:editarformatofactorResponse"/>
</operation>
<operation name="eliminarformatofactor">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarformatofactorRequest" message="tns:eliminarformatofactor"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarformatofactorResponse" message="tns:eliminarformatofactorResponse"/>
</operation>
<operation name="retornaEmpleado">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaEmpleadoRequest" message="tns:retornaEmpleado"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaEmpleadoResponse" message="tns:retornaEmpleadoResponse"/>
</operation>
<operation name="getEvaluacionesAbiertas">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/getEvaluacionesAbiertasRequest" message="tns:getEvaluacionesAbiertas"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/getEvaluacionesAbiertasResponse" message="tns:getEvaluacionesAbiertasResponse"/>
</operation>
<operation name="retornaTiposEvaluacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaTiposEvaluacionRequest" message="tns:retornaTiposEvaluacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaTiposEvaluacionResponse" message="tns:retornaTiposEvaluacionResponse"/>
</operation>
<operation name="isSeleccionado">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/isSeleccionadoRequest" message="tns:isSeleccionado"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/isSeleccionadoResponse" message="tns:isSeleccionadoResponse"/>
</operation>
<operation name="retornaDependencias">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaDependenciasRequest" message="tns:retornaDependencias"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaDependenciasResponse" message="tns:retornaDependenciasResponse"/>
</operation>
<operation name="agregarDependencia">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/agregarDependenciaRequest" message="tns:agregarDependencia"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/agregarDependenciaResponse" message="tns:agregarDependenciaResponse"/>
</operation>
<operation name="eliminarDependencia">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarDependenciaRequest" message="tns:eliminarDependencia"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarDependenciaResponse" message="tns:eliminarDependenciaResponse"/>
</operation>
<operation name="editarDependencia">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarDependenciaRequest" message="tns:editarDependencia"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarDependenciaResponse" message="tns:editarDependenciaResponse"/>
</operation>
<operation name="retornaEmpleadosd">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaEmpleadosdRequest" message="tns:retornaEmpleadosd"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaEmpleadosdResponse" message="tns:retornaEmpleadosdResponse"/>
</operation>
<operation name="retornaPresentaciones">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaPresentacionesRequest" message="tns:retornaPresentaciones"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaPresentacionesResponse" message="tns:retornaPresentacionesResponse"/>
</operation>
<operation name="eliminarPresentacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarPresentacionRequest" message="tns:eliminarPresentacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarPresentacionResponse" message="tns:eliminarPresentacionResponse"/>
</operation>
<operation name="editarPresentacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarPresentacionRequest" message="tns:editarPresentacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarPresentacionResponse" message="tns:editarPresentacionResponse"/>
</operation>
<operation name="crearPresentacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearPresentacionRequest" message="tns:crearPresentacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearPresentacionResponse" message="tns:crearPresentacionResponse"/>
</operation>
<operation name="retornaPlanteamientos">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaPlanteamientosRequest" message="tns:retornaPlanteamientos"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaPlanteamientosResponse" message="tns:retornaPlanteamientosResponse"/>
</operation>
<operation name="reporteEmpleadosno">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/reporteEmpleadosnoRequest" message="tns:reporteEmpleadosno"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/reporteEmpleadosnoResponse" message="tns:reporteEmpleadosnoResponse"/>
</operation>
<operation name="eliminarSupervisor">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarSupervisorRequest" message="tns:eliminarSupervisor"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarSupervisorResponse" message="tns:eliminarSupervisorResponse"/>
</operation>
<operation name="retornaSupervisor">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaSupervisorRequest" message="tns:retornaSupervisor"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaSupervisorResponse" message="tns:retornaSupervisorResponse"/>
</operation>
<operation name="editarEmpleado">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarEmpleadoRequest" message="tns:editarEmpleado"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarEmpleadoResponse" message="tns:editarEmpleadoResponse"/>
</operation>
<operation name="creaestadoSupervisor">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/creaestadoSupervisorRequest" message="tns:creaestadoSupervisor"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/creaestadoSupervisorResponse" message="tns:creaestadoSupervisorResponse"/>
</operation>
<operation name="comprobarCorreo">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/comprobarCorreoRequest" message="tns:comprobarCorreo"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/comprobarCorreoResponse" message="tns:comprobarCorreoResponse"/>
</operation>
<operation name="puntajeEmpleado">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/puntajeEmpleadoRequest" message="tns:puntajeEmpleado"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/puntajeEmpleadoResponse" message="tns:puntajeEmpleadoResponse"/>
</operation>
<operation name="deduccionesEmpleado">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/deduccionesEmpleadoRequest" message="tns:deduccionesEmpleado"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/deduccionesEmpleadoResponse" message="tns:deduccionesEmpleadoResponse"/>
</operation>
<operation name="actualizarSeleccionado">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/actualizarSeleccionadoRequest" message="tns:actualizarSeleccionado"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/actualizarSeleccionadoResponse" message="tns:actualizarSeleccionadoResponse"/>
</operation>
<operation name="actualizarCorte">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/actualizarCorteRequest" message="tns:actualizarCorte"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/actualizarCorteResponse" message="tns:actualizarCorteResponse"/>
</operation>
<operation name="procesarCanje">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/procesarCanjeRequest" message="tns:procesarCanje"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/procesarCanjeResponse" message="tns:procesarCanjeResponse"/>
</operation>
<operation name="retornaultimoCanje">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaultimoCanjeRequest" message="tns:retornaultimoCanje"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaultimoCanjeResponse" message="tns:retornaultimoCanjeResponse"/>
</operation>
<operation name="retornatodosCanjes">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornatodosCanjesRequest" message="tns:retornatodosCanjes"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornatodosCanjesResponse" message="tns:retornatodosCanjesResponse"/>
</operation>
<operation name="getEvaluacionesSuper">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/getEvaluacionesSuperRequest" message="tns:getEvaluacionesSuper"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/getEvaluacionesSuperResponse" message="tns:getEvaluacionesSuperResponse"/>
</operation>
<operation name="getEmpleadosEvaluacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/getEmpleadosEvaluacionRequest" message="tns:getEmpleadosEvaluacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/getEmpleadosEvaluacionResponse" message="tns:getEmpleadosEvaluacionResponse"/>
</operation>
<operation name="retornaFormatos">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaFormatosRequest" message="tns:retornaFormatos"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaFormatosResponse" message="tns:retornaFormatosResponse"/>
</operation>
<operation name="editarformatoEvaluacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarformatoEvaluacionRequest" message="tns:editarformatoEvaluacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarformatoEvaluacionResponse" message="tns:editarformatoEvaluacionResponse"/>
</operation>
<operation name="crearformatoEvaluacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearformatoEvaluacionRequest" message="tns:crearformatoEvaluacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearformatoEvaluacionResponse" message="tns:crearformatoEvaluacionResponse"/>
</operation>
<operation name="eliminarformatoEvaluacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarformatoEvaluacionRequest" message="tns:eliminarformatoEvaluacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarformatoEvaluacionResponse" message="tns:eliminarformatoEvaluacionResponse"/>
</operation>
<operation name="retornaEvaluaciones">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaEvaluacionesRequest" message="tns:retornaEvaluaciones"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaEvaluacionesResponse" message="tns:retornaEvaluacionesResponse"/>
</operation>
<operation name="getEmpleadosEvaluaciong">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/getEmpleadosEvaluaciongRequest" message="tns:getEmpleadosEvaluaciong"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/getEmpleadosEvaluaciongResponse" message="tns:getEmpleadosEvaluaciongResponse"/>
</operation>
<operation name="cambiarDependencia">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/cambiarDependenciaRequest" message="tns:cambiarDependencia"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/cambiarDependenciaResponse" message="tns:cambiarDependenciaResponse"/>
</operation>
<operation name="retornaCargos">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaCargosRequest" message="tns:retornaCargos"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaCargosResponse" message="tns:retornaCargosResponse"/>
</operation>
<operation name="retornaFactores">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaFactoresRequest" message="tns:retornaFactores"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaFactoresResponse" message="tns:retornaFactoresResponse"/>
</operation>
<operation name="eliminarFactor">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarFactorRequest" message="tns:eliminarFactor"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarFactorResponse" message="tns:eliminarFactorResponse"/>
</operation>
<operation name="retornaCorteSeleccionado">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaCorteSeleccionadoRequest" message="tns:retornaCorteSeleccionado"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaCorteSeleccionadoResponse" message="tns:retornaCorteSeleccionadoResponse"/>
</operation>
<operation name="retornaPresentacionesformatos">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaPresentacionesformatosRequest" message="tns:retornaPresentacionesformatos"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaPresentacionesformatosResponse" message="tns:retornaPresentacionesformatosResponse"/>
</operation>
<operation name="crearformatoevalplanteamiento">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearformatoevalplanteamientoRequest" message="tns:crearformatoevalplanteamiento"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearformatoevalplanteamientoResponse" message="tns:crearformatoevalplanteamientoResponse"/>
</operation>
<operation name="retornaEmpleadosSeleccionados">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaEmpleadosSeleccionadosRequest" message="tns:retornaEmpleadosSeleccionados"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaEmpleadosSeleccionadosResponse" message="tns:retornaEmpleadosSeleccionadosResponse"/>
</operation>
<operation name="retornaEmpleadosGrupodependencias">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaEmpleadosGrupodependenciasRequest" message="tns:retornaEmpleadosGrupodependencias"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaEmpleadosGrupodependenciasResponse" message="tns:retornaEmpleadosGrupodependenciasResponse"/>
</operation>
<operation name="registrarEvaluacionVacaciones">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/registrarEvaluacionVacacionesRequest" message="tns:registrarEvaluacionVacaciones"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/registrarEvaluacionVacacionesResponse" message="tns:registrarEvaluacionVacacionesResponse"/>
</operation>
<operation name="puntosEvaluacionAcumulados">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/puntosEvaluacionAcumuladosRequest" message="tns:puntosEvaluacionAcumulados"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/puntosEvaluacionAcumuladosResponse" message="tns:puntosEvaluacionAcumuladosResponse"/>
</operation>
<operation name="puntosEvaluacionPromedios">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/puntosEvaluacionPromediosRequest" message="tns:puntosEvaluacionPromedios"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/puntosEvaluacionPromediosResponse" message="tns:puntosEvaluacionPromediosResponse"/>
</operation>
<operation name="puntosEvaluacionCantidad">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/puntosEvaluacionCantidadRequest" message="tns:puntosEvaluacionCantidad"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/puntosEvaluacionCantidadResponse" message="tns:puntosEvaluacionCantidadResponse"/>
</operation>
<operation name="pEAEmpleadosP">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/pEAEmpleadosPRequest" message="tns:pEAEmpleadosP"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/pEAEmpleadosPResponse" message="tns:pEAEmpleadosPResponse"/>
</operation>
<operation name="retornaPeriodos">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaPeriodosRequest" message="tns:retornaPeriodos"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaPeriodosResponse" message="tns:retornaPeriodosResponse"/>
</operation>
<operation name="seleccionarEmpleados">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/seleccionarEmpleadosRequest" message="tns:seleccionarEmpleados"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/seleccionarEmpleadosResponse" message="tns:seleccionarEmpleadosResponse"/>
</operation>
<operation name="datosEvaluaciones">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/datosEvaluacionesRequest" message="tns:datosEvaluaciones"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/datosEvaluacionesResponse" message="tns:datosEvaluacionesResponse"/>
</operation>
<operation name="agregarUsuario">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/agregarUsuarioRequest" message="tns:agregarUsuario"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/agregarUsuarioResponse" message="tns:agregarUsuarioResponse"/>
</operation>
<operation name="agregarEmpleado">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/agregarEmpleadoRequest" message="tns:agregarEmpleado"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/agregarEmpleadoResponse" message="tns:agregarEmpleadoResponse"/>
</operation>
<operation name="agregarEstadoEmpleado">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/agregarEstadoEmpleadoRequest" message="tns:agregarEstadoEmpleado"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/agregarEstadoEmpleadoResponse" message="tns:agregarEstadoEmpleadoResponse"/>
</operation>
<operation name="registrarEvaluacionReposo">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/registrarEvaluacionReposoRequest" message="tns:registrarEvaluacionReposo"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/registrarEvaluacionReposoResponse" message="tns:registrarEvaluacionReposoResponse"/>
</operation>
<operation name="retornaTipoEvaluacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaTipoEvaluacionRequest" message="tns:retornaTipoEvaluacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaTipoEvaluacionResponse" message="tns:retornaTipoEvaluacionResponse"/>
</operation>
<operation name="eliminarEmpleadoEvaluacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarEmpleadoEvaluacionRequest" message="tns:eliminarEmpleadoEvaluacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarEmpleadoEvaluacionResponse" message="tns:eliminarEmpleadoEvaluacionResponse"/>
</operation>
<operation name="eliminarEmpleadoRevision">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarEmpleadoRevisionRequest" message="tns:eliminarEmpleadoRevision"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarEmpleadoRevisionResponse" message="tns:eliminarEmpleadoRevisionResponse"/>
</operation>
<operation name="actualizarPlanteamientoEval">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/actualizarPlanteamientoEvalRequest" message="tns:actualizarPlanteamientoEval"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/actualizarPlanteamientoEvalResponse" message="tns:actualizarPlanteamientoEvalResponse"/>
</operation>
<operation name="eliminarPlanteamiento">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarPlanteamientoRequest" message="tns:eliminarPlanteamiento"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarPlanteamientoResponse" message="tns:eliminarPlanteamientoResponse"/>
</operation>
<operation name="RetornaEvaluacionesReporte">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/RetornaEvaluacionesReporteRequest" message="tns:RetornaEvaluacionesReporte"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/RetornaEvaluacionesReporteResponse" message="tns:RetornaEvaluacionesReporteResponse"/>
</operation>
<operation name="RetornaDependenciasNivel">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/RetornaDependenciasNivelRequest" message="tns:RetornaDependenciasNivel"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/RetornaDependenciasNivelResponse" message="tns:RetornaDependenciasNivelResponse"/>
</operation>
<operation name="registrarEvaluacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/registrarEvaluacionRequest" message="tns:registrarEvaluacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/registrarEvaluacionResponse" message="tns:registrarEvaluacionResponse"/>
</operation>
<operation name="getFormatoEvaluacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/getFormatoEvaluacionRequest" message="tns:getFormatoEvaluacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/getFormatoEvaluacionResponse" message="tns:getFormatoEvaluacionResponse"/>
</operation>
<operation name="eliminarCargo">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarCargoRequest" message="tns:eliminarCargo"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarCargoResponse" message="tns:eliminarCargoResponse"/>
</operation>
<operation name="eliminarEmpleado">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarEmpleadoRequest" message="tns:eliminarEmpleado"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarEmpleadoResponse" message="tns:eliminarEmpleadoResponse"/>
</operation>
<operation name="eliminarUsuario">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarUsuarioRequest" message="tns:eliminarUsuario"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse"/>
</operation>
<operation name="actualizaSupervisor">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/actualizaSupervisorRequest" message="tns:actualizaSupervisor"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/actualizaSupervisorResponse" message="tns:actualizaSupervisorResponse"/>
</operation>
<operation name="consultarDependencia">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/consultarDependenciaRequest" message="tns:consultarDependencia"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/consultarDependenciaResponse" message="tns:consultarDependenciaResponse"/>
</operation>
<operation name="crearEvaluacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearEvaluacionRequest" message="tns:crearEvaluacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearEvaluacionResponse" message="tns:crearEvaluacionResponse"/>
</operation>
<operation name="editarEvaluacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarEvaluacionRequest" message="tns:editarEvaluacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarEvaluacionResponse" message="tns:editarEvaluacionResponse"/>
</operation>
<operation name="eliminarEvaluacion">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarEvaluacionRequest" message="tns:eliminarEvaluacion"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarEvaluacionResponse" message="tns:eliminarEvaluacionResponse"/>
</operation>
<operation name="crearPlanteamiento">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearPlanteamientoRequest" message="tns:crearPlanteamiento"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearPlanteamientoResponse" message="tns:crearPlanteamientoResponse"/>
</operation>
<operation name="editarPlanteamiento">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarPlanteamientoRequest" message="tns:editarPlanteamiento"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarPlanteamientoResponse" message="tns:editarPlanteamientoResponse"/>
</operation>
<operation name="EvaluacionFecha">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/EvaluacionFechaRequest" message="tns:EvaluacionFecha"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/EvaluacionFechaResponse" message="tns:EvaluacionFechaResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/EvaluacionFecha/Fault/ParseException"/>
</operation>
<operation name="editarPeriodo">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarPeriodoRequest" message="tns:editarPeriodo"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarPeriodoResponse" message="tns:editarPeriodoResponse"/>
</operation>
<operation name="eliminarPeriodo">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarPeriodoRequest" message="tns:eliminarPeriodo"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminarPeriodoResponse" message="tns:eliminarPeriodoResponse"/>
</operation>
<operation name="planteamientosS">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/planteamientosSRequest" message="tns:planteamientosS"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/planteamientosSResponse" message="tns:planteamientosSResponse"/>
</operation>
<operation name="eliminaEvaluacionEmpleado">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminaEvaluacionEmpleadoRequest" message="tns:eliminaEvaluacionEmpleado"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/eliminaEvaluacionEmpleadoResponse" message="tns:eliminaEvaluacionEmpleadoResponse"/>
</operation>
<operation name="retornaEvaluacionesEmpleado">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaEvaluacionesEmpleadoRequest" message="tns:retornaEvaluacionesEmpleado"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaEvaluacionesEmpleadoResponse" message="tns:retornaEvaluacionesEmpleadoResponse"/>
</operation>
<operation name="isGerente">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/isGerenteRequest" message="tns:isGerente"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/isGerenteResponse" message="tns:isGerenteResponse"/>
</operation>
<operation name="isSupervisor">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/isSupervisorRequest" message="tns:isSupervisor"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/isSupervisorResponse" message="tns:isSupervisorResponse"/>
</operation>
<operation name="isRecursos">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/isRecursosRequest" message="tns:isRecursos"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/isRecursosResponse" message="tns:isRecursosResponse"/>
</operation>
<operation name="crearFactor">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearFactorRequest" message="tns:crearFactor"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearFactorResponse" message="tns:crearFactorResponse"/>
</operation>
<operation name="editarFactor">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarFactorRequest" message="tns:editarFactor"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarFactorResponse" message="tns:editarFactorResponse"/>
</operation>
<operation name="editarCanje">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarCanjeRequest" message="tns:editarCanje"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarCanjeResponse" message="tns:editarCanjeResponse"/>
</operation>
<operation name="pEAEmpleados">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/pEAEmpleadosRequest" message="tns:pEAEmpleados"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/pEAEmpleadosResponse" message="tns:pEAEmpleadosResponse"/>
</operation>
<operation name="pEPE">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/pEPERequest" message="tns:pEPE"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/pEPEResponse" message="tns:pEPEResponse"/>
</operation>
<operation name="editarCorte">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarCorteRequest" message="tns:editarCorte"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarCorteResponse" message="tns:editarCorteResponse"/>
</operation>
<operation name="crearCorte">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearCorteRequest" message="tns:crearCorte"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearCorteResponse" message="tns:crearCorteResponse"/>
</operation>
<operation name="retornaCorte">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaCorteRequest" message="tns:retornaCorte"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/retornaCorteResponse" message="tns:retornaCorteResponse"/>
</operation>
<operation name="corteMaximo">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/corteMaximoRequest" message="tns:corteMaximo"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/corteMaximoResponse" message="tns:corteMaximoResponse"/>
</operation>
<operation name="loginDatos">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/loginDatosRequest" message="tns:loginDatos"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/loginDatosResponse" message="tns:loginDatosResponse"/>
</operation>
<operation name="agregarCargo">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/agregarCargoRequest" message="tns:agregarCargo"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/agregarCargoResponse" message="tns:agregarCargoResponse"/>
</operation>
<operation name="editarCargo">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarCargoRequest" message="tns:editarCargo"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/editarCargoResponse" message="tns:editarCargoResponse"/>
</operation>
<operation name="crearPeriodo">
<input wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearPeriodoRequest" message="tns:crearPeriodo"/>
<output wsam:Action="http://evaservices.seguroshorizonte.com/GestionEvaluacion/crearPeriodoResponse" message="tns:crearPeriodoResponse"/>
</operation>
</portType>
<binding name="GestionEvaluacionPortBinding" type="tns:GestionEvaluacion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reporteInformacionEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reporteHistoricoEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reporteEmpleadosnoGerentes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="empleadosEliminados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reingresarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaformatofactores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearformatofactor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarformatofactor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarformatofactor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEvaluacionesAbiertas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaTiposEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isSeleccionado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaDependencias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarDependencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarDependencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarDependencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaEmpleadosd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaPresentaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarPresentacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarPresentacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearPresentacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaPlanteamientos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reporteEmpleadosno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarSupervisor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaSupervisor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creaestadoSupervisor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprobarCorreo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="puntajeEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deduccionesEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarSeleccionado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarCorte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="procesarCanje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaultimoCanje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornatodosCanjes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEvaluacionesSuper">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmpleadosEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaFormatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarformatoEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearformatoEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarformatoEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaEvaluaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmpleadosEvaluaciong">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarDependencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaCargos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaFactores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarFactor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaCorteSeleccionado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaPresentacionesformatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearformatoevalplanteamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaEmpleadosSeleccionados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaEmpleadosGrupodependencias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarEvaluacionVacaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="puntosEvaluacionAcumulados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="puntosEvaluacionPromedios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="puntosEvaluacionCantidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pEAEmpleadosP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaPeriodos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="seleccionarEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="datosEvaluaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarEstadoEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarEvaluacionReposo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaTipoEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarEmpleadoEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarEmpleadoRevision">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarPlanteamientoEval">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarPlanteamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetornaEvaluacionesReporte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetornaDependenciasNivel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFormatoEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCargo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaSupervisor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarDependencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearPlanteamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarPlanteamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EvaluacionFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="editarPeriodo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarPeriodo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="planteamientosS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaEvaluacionEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaEvaluacionesEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isGerente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isSupervisor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isRecursos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearFactor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarFactor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarCanje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pEAEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pEPE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarCorte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearCorte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaCorte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="corteMaximo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarCargo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarCargo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearPeriodo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionEvaluacion">
<port name="GestionEvaluacionPort" binding="tns:GestionEvaluacionPortBinding">
<soap:address location="http://localhost:8080/EVAServices/GestionEvaluacion"/>
</port>
</service>
</definitions>